nav {
    border-bottom: solid;
    border-color: black;
    margin-bottom: 24px;

    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
}