html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  border-bottom: solid;
  border-color: black;
  margin-bottom: 24px;
  width: 100%;
}

.nav-content-wrapper {
  margin: 0 24px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.page-wrapper {
  margin: 0 8px;
  width: 75%;
  max-width: 1920px;
}

.activeFilter button {
  background-color: lightgreen;
}

.products-display {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.product-listing {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-listing * {
  margin: 0;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.image-wrapper {
  width: 80%;
  align-self: center;
  position: relative;
}

.product-image {
  width: 100%;
  object-fit: cover;
}

.image-wrapper > img:nth-child(1) {
  opacity: 1;
  transition: opacity 0.75s ease-out;
}

.image-wrapper:hover > img:nth-child(1) {
  opacity: 0;
}

.image-wrapper > img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.75s ease-out, transform 0.75s ease-out;
}

.image-wrapper:hover > img:nth-child(2) {
  opacity: 1;
  transform: scale(1.025);
}

.add-to-cart-menu {
  display: flex;
  justify-content: space-between;
}

.pagination-container {
  display: flex;
  list-style: none;
  gap: 8px;
}

.checkout-cart {
  border: solid;
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 500px;
}

.cart-item {
  list-style: none;
  display: flex;
  gap: 24px;
  align-items: center;
}

.cart-item-header {
  display: flex;
  align-items: center;
}

.cart-item-image {
  width: 50px;
  max-height: 50px;
  object-fit: cover;
}

.remove-item-button {
  margin-left: auto;
  align-self: center;
}

.checkout-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  width: 100%;
  text-align: center;
}
