nav {
    border-bottom: solid;
    border-color: black;
    margin-bottom: 24px;

    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

footer {
    margin-top: 24px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}